/* 1 rem = 1 em = 16px */
/*1300divided by 16 = 84*/

/* for screen size of smaller desktops */
@media (max-width: 1344px) {
  .section-1 {
    max-width: 475px;
  }
  .section-2 {
    max-width: 575px;
  }
  .hero-section {
    gap: 80px;
  }
  .section-heading h1 {
    font-size: 49px;
  }
}

@media (max-width: 1200px) {
  .section-1 {
    max-width: 400px;
  }
  .section-2 {
    max-width: 500px;
  }
  .hero-section {
    gap: 80px;
  }
  .section-heading h1 {
    font-size: 49px;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .image-box img {
    width: 100%;
    height: 220px !;
  }
}
